.inputWrapper {
  position: relative;
  max-width: 570px;
  width: 100%;
  box-shadow: 0 5px 20px -15px rgba(0, 62, 89, 0.12);

  .input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 3, 69, 0.2);
    box-sizing: border-box;

    border-radius: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000345;
    outline: none;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    left: 16px;
    opacity: 0.4;
  }

  .error {
    border: 1px solid #FF645A;
  }

}

.errorTextForm {
  display: block;
  margin-top: 3px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF645A;
}

.errorText {
  margin-top: 2px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF645A;
}
