.certificationWrapper {
  margin-top: 75px;

  .certificates {
    display: flex;
    flex-direction: column;

    .certificateItem {
      color: #000345;

      .cert {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      .date {
        margin-left: 8px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 768px) {
  .certificationWrapper {
    margin-top: 50px;
  }
}
