.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 238px);
}

.blockWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.h1Title {
  text-align: center;
  color: #000345;
}

.h2Title {
  text-align: center;
  color: #FDC90D;
}
