.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 238px);
}

.h1Title {
  color: #000345;
}

.h2Title {
  text-align: center;
  color: #FDC90D;
}
