.phone {
  width: 100%;
  max-width: 419px;
  height: 48px;
  border-radius: 30px;
  box-shadow: 0 5px 20px -15px rgb(0, 62, 89);
  -webkit-box-shadow: 0 5px 20px -15px rgb(0, 62, 89);
  -moz-box-shadow: 0 5px 20px -15px rgb(0, 62, 89);
  -o-box-shadow: 0 5px 20px -15px rgb(0, 62, 89);

  background: #FFFFFF;
  border: 1px solid rgba(0, 3, 69, 0.2);
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;


  padding: 10px 15px;
  margin: 0;

  input {
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000345;
  }

  .wrapper{
    display: flex;
    align-items: flex-end;
  }

}

.error{
  border: 1px solid #FF645A;
}

.errorText{
  display: block;
  margin-top: 3px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF645A;
}
