.footer {
  position: relative;
  height: 612px;
  background: #000345;
  color: #FFFFFF;
  margin-bottom: 56px;

  .contentWrapper {

    padding: 35px 10px 53px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .labelWrapper {
      min-width: 131px;
      min-height: 131px;
      position: absolute;
      bottom: 18px;
      right: 18px;
    }

    .contentGroup {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      &:first-child {
        margin-top: 0;
      }

      .donateText {
        margin: 23px 0 17px 0;
        width: 300px;
        height: 60px;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }

      > a {
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }

        .linkText {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #FFFFFF;
        }
      }


      .socialsWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .socialsTitle {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
        }

        .socials {
          margin-top: 23px;
          width: 148px;
          height: 36px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
}

.copyrightWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}




