.mask {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  margin-left: -75px;
  z-index: 5;
}

.img {
  max-width: 800px;
  height: auto;
  max-height: 70vh;
}

.outerWrapper {
  background-color: transparent;
  margin: 120px auto 0;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  max-height: 60vh;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  > a {
    cursor: pointer;
  }
}

.btnsGroup {
  display: flex;
  flex-direction: row;

  a {
    cursor: pointer;
  }
}

.innerWrapper {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;

  img {
    width: 100%;
    border-radius: 20px;
  }
}

.imgData {
  width: 100%;
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.place {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.camera {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.imgDataText {
  display: flex;
  flex-direction: column;
}

.authorName {
  color: #fff;
  margin-left: 14px;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 80vw;

  > a {
    display: flex;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .mask {
    margin-left: -10px;
    padding: 0 10px;
  }

  .footerNav {
    bottom: 80px;
    left: 85vw;
  }

  .outerWrapper {
    margin: 90px auto 0;
  }

  .innerWrapper {
    position: static;

    img {
      max-height: 50vh;
    }
  }

  .headerNav {
    margin-bottom: 15px;
  }

  .imgData {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    bottom: 60px;
    left: 0;
  }
}
