.mapWrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .loader {
    z-index: 100;
    top: 100px;
    left: 25px;
    position: absolute;
    color: white;
  }
}

.inputWrapper {
  width: 95%;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  transition: visibility .5s .5s ease-in-out;

  input {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .mapWrapper {
    width: 100vw;
    height: 100vh;
    transition: visibility .1s .3s ease-in-out;
  }
}
