.card {
  max-width: 420px;
  min-width: 300px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 8px 15px rgba(0, 62, 89, 0.06);
  border-radius: 15px;

  .imgWrapper {
    position: relative;
    height: 232px;

    .img {
      border-radius: 15px 15px 0 0;
      object-fit: cover;
      object-position: center;
    }
  }


  .footer {
    color: #000345;
    padding: 11px 15px;
    display: flex;
    flex-direction: column;

    .name {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
    }

    .scientificName {
      margin-top: 4px;
      font-style: italic;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      opacity: 0.8;
    }
  }
}

@media (max-width: 1440px) {
  .card {
    max-width: 300px;
    min-width: 220px;
  }

}

@media (max-width: 1024px) {
  .card {
    max-width: 220px;
    min-width: 160px;

    .imgWrapper {
      height: 122px;
    }
  }
}

@media (max-width: 768px) {
  .card {
    min-width: 195px;

    .imgWrapper {
      height: 122px;
    }
  }
}
