.card {
  max-width: 420px;
  min-width: 300px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 8px 15px rgba(0, 62, 89, 0.06);
  border-radius: 15px;

  .imgWrapper {
    position: relative;
    height: 232px;

    .img {
      border-radius: 15px 15px 0 0;
      object-fit: cover;
      object-position: center;
    }
  }

  .footer {
    color: #000345;
    padding: 11px 15px;
    display: flex;
    flex-direction: column;

    .name {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
    }

    .scientificName {
      margin-top: 4px;
      font-style: italic;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      opacity: 0.8;
    }
  }
}

.smallCard {
  min-width: unset;
  max-width: unset;
  width: unset;
  margin-right: 26px;
  margin-bottom: 20px;
  box-shadow: 11px 2px 15px rgba(0, 62, 89, 0.06);

  .imgWrapper {
    height: 112px;
  }

  .footer {
    padding: 0px 10px 10px 10px;
    .name {
      font-weight: 600;
    }
  }
}

@media (max-width: 1440px) {
  .card {
    max-width: 300px;
    min-width: 220px;
  }

  .smallCard {
    max-width: unset;
    min-width: unset;
  }
}

@media (max-width: 1024px) {
  .card {
    max-width: 220px;
    min-width: 160px;
    .footer {
      .name {
        font-size: 14px;
      }
    }

    .imgWrapper {
      height: 122px;
    }
  }

}

@media (max-width: 768px) {
  .card {
    min-width: 195px;

    .imgWrapper {
      height: 122px;
    }
  }
}
