.diveReviews {
  margin-top: 20px;

  .scoreWrapper {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      margin-bottom: 3px;
    }
  }

  .checkBoxesWrapper {
    margin-top: 16px;
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000345;

    > div {
      margin-right: 30px;
    }
  }
}

@media (max-width: 768px) {
  .diveReviews {

    .scoreWrapper {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
