rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /user-preferences/{userId} {
            allow read, write, update: if userId == request.auth.uid;
        }

        match /user-public-profile/{userId} {
            allow read: if true;
            allow write, update: if userId == request.auth.uid;
        }

        match /user-stripe/{userId} {
            allow read: if userId == request.auth.uid;
        }
    }
}
