rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /user-preferences/{userEmail} {
            allow read, write, update: if userEmail == request.auth.token.email;
        }

        match /user-public-profile/{userEmail} {
            allow read: if true;
            allow write, update: if userEmail == request.auth.token.email;
        }

        match /user-stripe/{userEmail} {
            allow read: if userEmail == request.auth.token.email;
        }
    }
}
