.profileImg{
  filter: drop-shadow(0px 8px 15px rgba(0, 62, 89, 0.06));
  border-radius: 15px;
  // width: 80px;
  // height: 80px;
  .img{
    border-radius: 15px;
    object-fit: cover;
  }
}

.imgBackground{
  background-color: rgba(0, 89, 222, 0.11);
}
