.photoCard {
  position: relative;
  box-shadow: 0 40px 40px -20px rgba(0, 62, 89, 0.1);

  .img {
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }

  .favouritesBlock {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 90px;
    height: 26px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px rgba(0, 62, 89, 0.1);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #000345;
    opacity: 0.8;
  }

  .author {
    position: absolute;
    bottom: 14px;
    left: 14px;
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
    color: #FFFFFF;
  }
}

.toggleable {
  cursor: pointer;
}

.normalImgSize {
  width: 100%;
  max-width: 420px;
  height: 630px;
}

.smallImgSize {
  width: 100%;
  max-width: 420px;
  height: 300px;
}

.scrollSize{
  width: 300px;
  height: 176px;
}

@media (max-width: 1024px) {
  .normalImgSize {
    height: 460px;
  }

  .smallImgSize {
    height: 220px;
  }
}

