.photoCard {
  position: relative;
  box-shadow: 0 40px 40px -20px rgba(0, 62, 89, 0.1);
  cursor: pointer;

  .img {
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }

  .author {
    position: absolute;
    bottom: 14px;
    left: 14px;
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
    color: #FFFFFF;
  }
}

.toggleable {
  cursor: pointer;
}

.normalImgSize {
  width: 100%;
  max-width: 420px;
  height: 630px;
}

.smallImgSize {
  width: 100%;
  max-width: 420px;
  height: 300px;
}

.scrollSize{
  width: 300px;
  height: 176px;
}

@media (max-width: 1024px) {
  .normalImgSize {
    height: 460px;
  }

  .smallImgSize {
    height: 220px;
  }
}

