.wrapper {
  margin-bottom: 130px;
}

.btnText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000345;
}

.elements {
  margin: 20px 0 20px 0;
}

.btnDonate {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000345;
}

.elementNumber {
  border: 1px solid rgba(0, 3, 69, 0.4);
  box-sizing: border-box;
  box-shadow: 0 5px 20px -15px rgba(0, 62, 89, 0.12);
  border-radius: 25px;
  padding: 15px 20px;
  height: 48px;
}

.block  {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.blockElement {
  width: 200px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 3, 69, 0.4);
  box-shadow: 0 5px 20px -15px rgba(0, 62, 89, 0.12);
  border-radius: 25px;
  padding: 15px 0 20px 20px;
}

.labelBlock {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000345;
  opacity: 0.5;
}

.label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000345;
  opacity: 0.6;
}

.commonText {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000345;
}

.checkbox {
  margin-bottom: 24px;
}
