.item {
  height: 48px;
  padding: 12px 16px;
  background: #FBFBFD;
  color: #000345;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  &:first-child{
    border-radius: 15px 15px 0 0 ;
  }

  &:last-child{
    border-radius: 0 0 15px 15px ;
  }

  &:hover {
    background: #F0F6FF;
    color: #0059DE;
    cursor: pointer;
  }

}
