.checkboxWrapper {
  display: flex;
  align-items: center;

  .checkbox {
    border: 2px solid rgba(0, 3, 69, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  .label {
    &:hover {
      cursor: pointer;
    }
  }
}

.column {
  flex-direction: column;

  .checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
  }

  .label {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000345;
    margin-top: 4px;
  }
}

.copy {
  margin-bottom: 10px;
  
  .checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 12px;
  }

  .label {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000345;
    margin: 0;
  }
}
