.profileBlockWrapper {
  position: relative;
  padding: 118px 3.866vw 30px;
  //padding: 0 3.866vw;
  max-width: 1940px;
  min-height: calc(100vh - 238px);

  .contentMarginTop {
    margin-top: 75px;
  }
}

@media (max-width: 768px) {
  .profileBlockWrapper {
    margin: 70px auto 0 auto;
    padding-bottom: 60px;
  }
}
