.dataWrapper {
  margin-top: 10px;
  display: flex;

  .dataItem {
    margin-right: 12px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    > span {
      font-weight: 500;
      font-size: 12px;
      line-height: 0.67vw;
      margin-left: 7px;
    }
  }
}
