.divesWrapper {
  margin-top: 75px;

  .filtersWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardWrapper {
    margin-top: 26px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;

    > div {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .viewMore {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0059DE;
  }
}

@media (max-width: 768px) {
  .divesWrapper {
    margin-top: 50px;

    .filtersWrapper {
      height: 108px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .cardWrapper {
      flex-wrap: nowrap;
      max-width: 100%;
      justify-content: space-between;
      overflow-x: scroll;

      > div {
        margin-right: 0;
        margin-bottom: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
