
.loader-line {
  width: 100%;
  height: 3px;
  z-index: 5;
  position: fixed;
  overflow: hidden;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #ddd;
  margin: 0 auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.loader-line:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 3px;
  width: 40%;
  background-color: #0059DE;
  -webkit-animation: lineAnim 1s linear infinite;
  -moz-animation: lineAnim 1s linear infinite;
  animation: lineAnim 1s linear infinite;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@keyframes lineAnim {
  0% {
    left: -40%;
  }
  50% {
    left: 20%;
    width: 80%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .loader-line {
    top: 60px;
  }
}

@media (max-width: 769px) {
  .loader-line {
    top: 50px;
  }
}
