.card{
  width: 420px;
  height: 110px;
  display: inline-flex;
  background: #FFFFFF;
  box-shadow: 0 8px 15px rgba(0, 62, 89, 0.06);
  border-radius: 15px;
  .imgWrapper{
    .img{
      border-radius: 15px 0 0 15px;
    }
  }
  .contentWrapper{
    padding: 20px 0 20px 24px;
    display: flex;
    flex-direction: column;
    color: #000345;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;

    >span{
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }

    .bold{
      font-weight: 500;
      margin-left: 6px;
      margin-right: 6px;
    }

    .name{
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 12px;
    }
  }
}
