.text {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000345;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotateZ(0)
  }
  to {
    transform: rotateZ(360deg)
  }
}
