.item {
  .name {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000345;
    margin-right: 5px;
  }

  .value {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }

  .country {
    margin-right: 8px;
  }
}
