.wrapper {
  margin-top: 75px;
  max-width: 720px;
}

.commentWrapper {
  margin-top: 20px;
}

.commentArea {
  width: 100%;
  border-radius: 30px;
  padding: 16px;
  resize: none;
  outline: none;
}

.disagree {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000345;
  cursor: pointer;
}

.buttonWrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1024px) {
  .wrapper {
    margin-top: 15px;
  }
}
