.profileInput{
    border-radius: 30px;
    box-shadow: 0 5px 20px -15px rgb(0, 62, 89);
    -webkit-box-shadow: 0 5px 20px -15px rgb(0, 62, 89);
    -moz-box-shadow: 0 5px 20px -15px rgb(0, 62, 89);
    -o-box-shadow: 0 5px 20px -15px rgb(0, 62, 89);
    background: #FFFFFF;
    border: 1px solid rgba(0, 3, 69, 0.2);
    box-sizing: border-box;
    outline: none;
    height: 48px;
    width: 165px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000345;
}

@media (max-width: 768px) {
    .profileInput{
        width: 100%;
    }
}
