.footer {
  position: relative;
  height: 238px;
  background: #000345;

  .contentWrapper {
    padding: 35px 0 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contentGroup {
      margin-right: 50px;
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .labelWrapper {
        min-width: 131px;
        min-height: 131px;
      }
    }


    .contentItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #FFFFFF;
      height: 151px;

      .donateText {
        margin: 23px 0 17px 0;
        width: 300px;
        height: 60px;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }

      .donateLink {
        width: 107px;
        height: 24px;
        display: flex;
        justify-content: flex-start;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }

      .socialsWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .socialsTitle {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
        }

        .socials {
          margin-top: 41px;
          width: 148px;
          height: 36px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }


      .linksWrapper {
        height: 100%;
        display: flex;
        align-items: center;

        .linkTextWrapper {
          display: inline-flex;
          flex-direction: column;
          height: 55px;
          justify-content: space-between;

          .linkText {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

    }
  }

  .forkme {
    position: absolute;
    top: 0;
    right: 0;
  }

  .copyrightWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;


    .copyright{
      transform: translateX(15%);
    }
  }
}


@media (max-width: 1250px) {
  footer {
    .contentWrapper {
      .contentGroup {
        width: 100%;
        .labelWrapper {
          display: none;
        }
      }
    }
  }
}