.photoWrapper {
  margin: 26px 0;
  display: flex;
  justify-content: space-between;
}

.column {
  height: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .column {
    margin-right: 20px;
    height: 460px;
  }
}
