.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .signUpBtn {
    width: 91px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
  }
}

.filled {
  background-color: #FFFFFF;
}