.dropdown {
  width: 136px;
  height: 24px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .dropdownButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000345;
    }
  }

  .itemsWrapper {
    position: absolute;
    top: 35px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 244px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
  }
}