@import "../styles.module";

.indicatorWrapper {
  display: flex;
  justify-content: space-between;
  @extend .container;

  .indicatorItem {
    width: 91px;
    height: 5px;
    border-radius: 2px;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  .active {
    background: #0059DE;

    &:hover {
      cursor: pointer;
      background: rgba(0, 89, 222, 0.34);
    }
  }

  .notActive {
    background: rgba(0, 3, 69, 0.2);

    &:hover {
      cursor: pointer;
      background: rgba(0, 89, 222, 0.34);
    }
  }
}
