.featuresWrapper {
  margin-top: 100px;

  .imagesWrapper {
    position: relative;

    .rightImage {
      position: absolute;
      bottom: -50px;
      right: 200px;
      width: 300px;
      height: 300px;
      z-index: -1;
    }

    .leftImage {
      position: absolute;
      top: 250px;
      left: 70px;
      width: 600px;
      height: 600px;
      z-index: -1;
    }
  }


  .cardsWrapper {
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, max(420px));
    grid-gap: 1.546vw;
    max-width: 1320px;


    .titleWrapper {
      width: 100%;
      max-width: 420px;
      min-width: 300px;
      height: 304px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #000345;

      h2 {
        font-weight: 600;
        font-size: 55px;
        line-height: 70px;
      }

      p {
        margin-top: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}


@media (max-width: 1312px) {
  .featuresWrapper {
    .imagesWrapper {
      .leftImage {

      }

      .rightImage {
        right: 100px;
        bottom: 200px;
      }

      .cardsWrapper {
        grid-template-columns: repeat(2, 1fr);
        max-width: 900px;
      }
    }
  }
}

@media (max-width: 768px) {
  .featuresWrapper {
    padding-top: 30px;
    .imagesWrapper {
      .leftImage {
        width: 450px;
        height: 450px;
        top: -50px;
        left: -50px;
      }

      .rightImage {
        display: none;
      }

      .cardsWrapper {
        display: flex;
        overflow-x: scroll;

        .titleWrapper {
          h2 {
            font-weight: 600;
            font-size: 30px;
            line-height: 20px;
          }

          p {
            margin-top: 15px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .featuresWrapper {


  }

}
