.featureCard {
  width: 100%;
  max-width: 420px;
  min-width: 370px;
  height: 304px;
  box-shadow: 0 25px 40px -15px rgba(0, 62, 89, 0.12);
  border-radius: 20px;
  background-color: #FFFFFF;
  overflow: auto;

  .header {
    height: 74px;
    background: rgba(127, 183, 249, 0.2);
    border-radius: 20px 20px 0 0;
    padding: 20px 0 0 20px;

    .iconWrapper {
      width: 100px;
      height: 100px;
      background-color: #FFFFFF;
      box-shadow: 0 10px 10px -5px rgba(0, 3, 69, 0.13);
      border-radius: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .cardBody {
    padding: 62px 20px 5px 20px;
    color: #000345;

    h3 {
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
    }

    p {
      margin-top: 12px;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: 768px) {
  .featureCard {
    width: 253px;
    height: 279px;
    min-width: 253px;
    .header {
      height: 60px;
      padding: 16px 0 0 16px;

      .iconWrapper {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .cardBody {
      padding: 24px 16px 0 16px;

      h3 {
        font-size: 20px;
        line-height: 26px;
      }

      p {
        margin-top: 8px;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
