.wrapper {
  max-height: 80px;
  display: flex;
  flex-direction: row;

  & .regular {
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0, 24, 85, 0.1);
  }
  & .transparent {
    background: none;
  }
}

.logo {
  margin-left: 75px;
}

.logbook {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #000345;

  .title {
    margin: 0 12px;
  }
}

.wallet {
  margin-left: 40px;
}
