.favouritesBlock {
  width: 90px;
  height: 26px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px rgba(0, 62, 89, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #000345;
  opacity: 0.8;
}
