.signInWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000345;
  height: calc(100vh - 238px);
  min-height: 500px;
  padding:  30px;

  .title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 3vw;
    text-align: center;
  }

  .text {
    margin-top: 2.083vw;
    max-width: 570px;
    font-weight: 300;
    font-size: 1.042vw;
    line-height: 26px;
    text-align: center;
  }

  .inputMargin {
    margin-top: 40px;
  }

  .btnWrapper {
    max-width: 250px;
    width: 100%;
  }

  .conformationText {
    font-weight: 300;
    font-size: 0.833vw;
    line-height: 24px;
    text-align: center;
  }

  .btnText {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #000345;
  }

  .checkboxWrapper {
    max-width: 570px;
    width: 100%;
    margin-top: 10px;
    padding-left: 15px;
  }

  .commonText {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000345;
  }

  .coloredText {
    color: #074ee8;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  .disabledText {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(72, 70, 70, 0.22);
  }
}

@media (max-width: 1240px) {
  .signInWrapper {
    .title {
      margin-top: 30px;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
    }

    .text {
      margin-top: 3.226vw;
      font-size: 16px;
    }

    .conformationText {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .signInWrapper {
    height: calc(100vh - 90px);

    .title {
      margin-top: 20px;
      font-size: 52px;
    }

    .text {
      margin-top: 30px;
      max-width: 570px;
      font-size: 18px;
    }

    .inputMargin {
      margin-top: 35px;
    }

    .conformationText {
      font-size: 12px;
    }

    .btnText {
      font-size: 14px;
    }

    .commonText {
      font-size: 12px;
    }

    .coloredText {
      font-size: 12px;
    }

    .disabledText {
      font-size: 12px;
    }
  }
}

@media (max-width: 420px) {
  .signInWrapper {
    padding: 0 5px;

    .title {
      margin-top: 15px;
      font-size: 42px;
    }

    .text {
      margin-top: 25px;
      font-size: 16px;
    }

    .inputMargin {
      margin-top: 30px;
    }

    .conformationText {
      font-size: 12px;
    }

    .btnText {
      font-size: 14px;
    }

    .commonText {
      font-size: 12px;
    }

    .coloredText {
      font-size: 12px;
    }
  }
}
