.container {
  margin: 30px auto 50px;
  width: 100%;
  max-width: 870px;
  min-height: 321px;

  .delete{
    &:hover{
      cursor: pointer;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  > p {
    margin: 10px 0 30px;
  }
}

.dateWrapper {
  margin-bottom: 14px;

  >:first-child {
    margin-bottom: 10px;
  }

  & input {
    width: 420px;
    &::placeholder {
      font-size: 16px;
    }
  }
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkboxLabel {
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.buttonLabel {
  color: #fff;
  margin-left: 17px;
  font-family: 'Prompt', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

@media (max-width: 420px) {
  .dateWrapper {
    & input {
      width: 100%;
      max-width: 420px;
    }
  }
}
