
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Prompt", sans-serif;
    background: #FBFBFD;
    height: 100%;
}

#__next {
    min-height: 100%;
}


h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
