.wrapper {
  margin-top: 80px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title h2{
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #000345;
}

.title p {
  margin: 20px 0 20px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000345;
}
