.wrapper {
  margin: 15px 0 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sponsors_wrapper {
  height: 218px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

